Python is a high level language. This language is then converted into machine language by a translator called interpreter or compiler. Python usually uses an interpreter. Compiler takes entire file at once an then convert into machine language. Interpreter complies code line by line. It first looks into line one and then line two and so on....

## Heart Disease project

In [16]:
name = input("What is your name ?")
print("My name is " + name)

What is your name ?yuvvraaj
My name is yuvvraaj

In [4]:
import pandas as pd

In [9]:
df = pd.read_csv('heart-disease.csv')
df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
df.target.value_counts()

1    165
0    138
Name: target, dtype: int64